:root {
    --beige-color: #f3f1e8;
    --blue-color: rgb(34 121 162);
    --yellow-color: rgb(238 229 95);
    --green-color:#029405;
    --dark-blue-color:  rgb(0, 80, 147);
    --note-color:#9a9064;
    --gray-square-size: 60px;
}

section {
    padding: 50px 0;
}
h2 {
    font-size: 2rem;
    font-size: clamp(1.25rem, 0.9rem + 2.3vw, 2rem);
    font-weight: 700;
    text-align: center;
}
h3 {
    font-size: 1.5rem;
    font-size: clamp(1.17rem, 0.8rem + 0.7vw, 1.5rem);
    font-weight: 700;
}
main img {
    width: 100%;
}
span.note {
    color: var(--note-color);
    display: block;
}
span.note::before, ul.notes > li::before {
    content: '※';
    position: relative;
    padding-right: 5px;
}
.flame-line {
    margin-bottom: 60px;
}


/* Intro Section  */
#intro {
    background: hotpink;
}
.catchphrase {
    text-align: center;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    margin-bottom: 60px;
    font-weight: bold;
}
.catchphrase .h1 {
    font-size: 3.5rem;
    font-size: clamp(1.25rem, 2rem + 2vw, 3.5rem);
    line-height: 1.5;
    color: var(--blue-color);
}
.catchphrase span {
    font-size: 2rem;
    font-size: clamp(1.25rem, 0.9rem + 2.3vw, 2rem);
}
.intro_point {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.intro_point_item {
    background: linear-gradient(blue, white);
    border-radius: 50%;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.intro_point_item::before {
    content: '';
    display: block;
    padding-bottom: 100%;
}
.intro_point_item p {
    font-size: 1rem;
    font-size: clamp(0.5rem, 0.7rem + 0.9vw, 2rem);
    line-height: 1.3;
    color: white;
    padding: 20px 20px 0;
}
.intro_point_item span {
    color: var(--yellow-color);
    font-size: 120%;
}



/* Media Queries  */
@media screen and (max-width: 768px) {
    section {
        padding: 25px 0;
    }
    .row-main {
        flex-direction: column;
    }
    .row-main > * {
        margin-inline: auto;
        flex: 1;
        width: 100%;
    }
    .point-wrap p {
        line-height: 1.5;
    }
    .concerns .row-main {
        gap: 0;
    }
    .concerned-image {
        order: 2;
        max-width: 300px;

    }
    .bubble-text {
        padding: 40px 0 60px;
    }
    #maintenance .row-main {
        margin-bottom: 0;
    }
}