:root {
    --beige-color: #f3f1e8;
    --blue-color: #086bb5;
    --light-blue-color: rgb(71, 170, 216);
    --yellow-color: rgb(238 229 95);
    --green-color:#029405;
    --dark-blue-color:  rgb(0, 80, 147);
    --note-color:#9a9064;
    --gray-color: #424753;
    --gray-square-size: 60px;
    --options-title-height: 50px;
}

section {
    padding: 50px 0;
}
h2 {
    font-size: 2rem;
    font-size: clamp(1.25rem, 0.9rem + 2.3vw, 2rem);
    font-weight: 700;
    text-align: center;
}
h3 {
    font-size: 1.5rem;
    font-size: clamp(1.17rem, 0.8rem + 0.7vw, 1.5rem);
    font-weight: 700;
}
main img {
    width: 100%;
}
span.note {
    color: var(--note-color);
    color: var(--gray-color);
    display: block;
}
span.note::before, ul.notes > li::before {
    content: '';
    position: relative;
    padding-right: 20%;
}
.flame-line {
    margin-bottom: 60px;
}
.mobile-hidden {
    display: block;
}


/* Intro Section  */
#intro {
    /* background: hotpink; */
}
.catchphrase {
    text-align: center;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    margin-bottom: 60px;
    font-weight: bold;
}
.catchphrase .h1 {
    font-size: 3.5rem;
    font-size: clamp(1.25rem, 2rem + 2vw, 3.5rem);
    line-height: 1.5;
    color: var(--blue-color);
}
.catchphrase span {
    font-size: 2rem;
    font-size: clamp(1.25rem, 0.9rem + 2.3vw, 2rem);
}
.intro_point {
    display: flex;
    justify-content: center;
    column-gap: 2vw;
}
.intro_point_item {
    background: linear-gradient(var(--blue-color), 75%, var(--light-blue-color));
    border-radius: 50%;
    flex: 1;
    min-width: 120px;
    max-width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.intro_point_item::before {
    content: '';
    display: block;
    padding-bottom: 100%;
}
.intro_point_item p {
    font-size: 1rem;
    font-size: clamp(0.5rem, 0.5rem + 0.75vw, 2rem);
    line-height: 1.3;
    color: white;
    padding: 1em 1em 0;
}
.intro_point_item span {
    color: var(--yellow-color);
    font-size: 120%;
}


/* Support Section  */
#support {
    background: var(--beige-color);
    padding-bottom: calc(50px + var(--options-title-height));
}
#support h2 {
    padding: 1em 0;
    border-top: 2px solid;
    border-bottom: 2px solid;
    margin-bottom: 1rem;
}
#support .two-col {
    display: flex;
    gap: 20px;
}
#support .two-col > div {
    flex: 1;
}
#support .support-map {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#support .support-map img {
    object-fit: contain;
}
#support .support-map .fees {
    border: 2px solid black;
    border-radius: 10px;
    background: white;
    font-weight: 900;
    padding: 20px 20px 10px;
    position: relative;
    width: 80%;
    list-style: none;
}
#support .support-map .fees li {
    font-size: 1.2rem;
    margin-bottom: 5px;
}
#support .support-map span.fee {
    color: var(--blue-color);
    font-size: 1.7rem;
    padding-left: 5%;
}
#support .support-map .fees img {
    position: absolute;
    bottom: -5%;
    right: -20%;
    width: 35%;
    height: auto;
}

#support .table-title {
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: 1.2rem;
}
#support table {
    box-sizing: content-box;
    width: 100%;
    margin-bottom: 0;
}
#support table th, #support table td {
    border: 2px solid white;
    text-align: center;
    color: black;
    line-height: 2;
}
#support table th {
    color: white;
    background: var(--blue-color);
}


/* Options Section  */
#options {
    border-top: 5px solid var(--blue-color);
    position: relative;
}
#options h2 {
    color: var(--blue-color);
    font-size: 1.72rem;
    font-size: clamp(1.17rem, 0.8rem + 0.7vw, 1.72rem);
    font-weight: 700;
    border: 5px solid var(--blue-color);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: none;
    position: absolute;
    top: calc(-1*var(--options-title-height));
    margin: 0 auto;
    left: 0;
    right: 0;
    width: fit-content;
    height: var(--options-title-height);
    background: white;
    padding: 10px 20px 0;

}
.options {
    display: flex;
    gap: 10px;
}
.option {
    flex: 1;
    background: var(--beige-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.option .option-title {
    text-align: center;
    background: var(--blue-color);
    color: white;
    font-size: 1.5rem;
    font-size: clamp(1.17rem, 0.8rem + 0.7vw, 1.5rem);
    line-height: 1.5;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.option-title::before {
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px;
    height: 40px;
}
#option_1 .option-title::before {
    background-image: url(/img/service/icon_option_eye.png);
}
#option_2 .option-title::before {
    background-image: url(/img/service/icon_option_eye.png);
}
#option_3 .option-title::before {
    background-image: url(/img/service/icon_option_eye.png);
}
#option_4 .option-title::before {
    background-image: url(/img/service/icon_option_eye.png);
}

.option-ribbon {
    content: "";
    background-image: url(/img/service/ribbon.png);
    background-size: 100% 100%;
    width: 100%;
    position: relative;
    left: -5px;
}



.option-image, .option-text {
    padding: 0 20px;
}
.option-image img {
    margin-bottom: 10px;
    box-shadow: 1px 1px 2px black;
}



/* Outro Section  */
#outro {
    padding-top: 0;
}
#outro h2 {
    text-align: center;
    line-height: 1.5;
    /* word-break: keep-all; */
    margin-bottom: 2em;
}
#outro .tel {
    color: var(--blue-color);
    font-size: 3rem;
    font-size: clamp(2rem, 1.5rem + 2vw, 3rem);
    width: fit-content;
}

/* SNS Section  */
#sns {
    height: 20vh;
    background: lawngreen;
}


/* Media Queries  */
@media screen and (max-width: 768px) {
    .mobile-hidden {
        display: none;
    }
    section {
        padding: 25px 0;
    }
    .catchphrase {
        margin-bottom: 30px;
    }

    #support .two-col {
        flex-direction: column;
    }
    #support .support-map .fees {
        width: 90%;
    }
}