:root {
    --beige-color: #f3f1e8;
    --blue-color: rgb(34 121 162);
    --yellow-color: rgb(238 229 95);
    --green-color:#029405;
    --dark-blue-color:  rgb(0, 80, 147);
    --note-color:#9a9064;
    --gray-square-size: 60px;
}

section {
    padding: 50px 0;
}
h2 {
    font-size: 2rem;
    font-size: clamp(1.25rem, 0.9rem + 2.3vw, 2rem);
    font-weight: 700;
    text-align: center;
}
h3 {
    font-size: 1.5rem;
    font-size: clamp(1.17rem, 0.8rem + 0.7vw, 1.5rem);
    font-weight: 700;
}
main img {
    width: 100%;
}
span.note {
    color: var(--note-color);
    display: block;
}
span.note::before, ul.notes > li::before {
    content: '※';
    position: relative;
    padding-right: 5px;
}
.flame-line {
    margin-bottom: 60px;
}


/* Intro Section  */
#intro {
    background: hotpink;
}
.catchphrase {
    text-align: center;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    margin-bottom: 60px;
    font-weight: bold;
}
.catchphrase .h1 {
    font-size: 3.5rem;
    font-size: clamp(1.25rem, 2rem + 2vw, 3.5rem);
    line-height: 1.5;
    color: var(--blue-color);
}
.catchphrase span {
    font-size: 2rem;
    font-size: clamp(1.25rem, 0.9rem + 2.3vw, 2rem);
}
.intro_point {
    display: flex;
    justify-content: center;
    column-gap: 2vw;
}
.intro_point_item {
    background: linear-gradient(blue, white);
    border-radius: 50%;
    flex: 1;
    min-width: 120px;
    max-width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.intro_point_item::before {
    content: '';
    display: block;
    padding-bottom: 100%;
}
.intro_point_item p {
    font-size: 1rem;
    font-size: clamp(0.5rem, 0.5rem + 0.75vw, 2rem);
    line-height: 1.3;
    color: white;
    padding: 1em 1em 0;
}
.intro_point_item span {
    color: var(--yellow-color);
    font-size: 120%;
}


/* Support Section  */
#support {
    background: var(--beige-color);
}
#support h2 {
    padding: 1em 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
#support .two-col {
    display: flex;
    column-gap: 20px;
}
#support .two-col > div {
    flex: 1;
}
#support .support-left {
    display: flex;
    flex-direction: column;
}
#support .support-left img {
    flex: 3;
}
#support .support-left .tenken {
    flex: 1;
    border: 2px solid black;
    border-radius: 10px;
}

#support table {
    box-sizing: content-box;
    border: 1px solid white;
}
#support table th, #support table td {
    border: 1px solid white;
}


/* Media Queries  */
@media screen and (max-width: 768px) {
    section {
        padding: 25px 0;
    }
    .catchphrase {
        margin-bottom: 30px;
    }
}